 body {
      margin: 0;
      padding: 0;
      background: #D6E5E3;
    }

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.pageIntro {
	width:100%;
	/*background-color: #517664;*/
    background-color: #2C423F; 
    padding: 0 0 400px 0;
    margin: 0;

}


.logo-image {
    width: 24%; /*resize in Photoshop*/
    padding-left: 36%;
    
}

.logo {

}

.container {
    width: 100%;
    padding-bottom: 0;
   float:left;
}


.nav ul {
  width:100%;
  list-style: none;
  /*background-color: #65B891 #2C423F;*/
  background-color: #829191;
  text-align: center;
  padding: 0;
  margin: 0;

}

.nav li {
      display: inline-block;
      font-size: 1.2em;
      line-height: 40px;
      

     
    }

.nav li a {
    display: inline-block;
    color: #000;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    margin-right: 20px;

}

/* Change the link color on hover */
.nav li a:hover {
    background-color: #555;
    color: white;
}

.nav li {
    text-align: center;
    list-style: none;
}

.nav li:last-child {
    border-bottom: none;
}





