*{
	box-sizing: border-box;
}

body {
	font-family:'lato', sans-serif;
	font-size:18px;
	color: #444;
	line-height: 1.5;
}

a {
	color:#D00;
	text-decoration: none;
	-webkit-transition:all 300ms;
}

a:hover {
	color:#A10;
}

img {
	max-width:100%;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

.menu-main {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu-main li {
	display: inline-block;
	float: left;
	width: 16.66%;
	
}

.menu-main a {
	display: block;
	background: black;
	color: white;
	padding: 15px;
	text-align: center;
	border: 1px solid white;
}

.menu-main a:hover {
	background: #900;

}

.content-block-wrapper {

	float:left;

}

.content-block-L {
	width: 65%;
	float: left;
	border-bottom: 1px solid #d3d3d3;
}

.content-block-R {
	width:30%;
	float: right;
}

footer {
	clear: both;
	width: 1200px;
	margin: 0 auto;
}

footer nav {
	width: 100%;
	max-width: 1200px;
	padding-top: 8px;
}

.menu-footer li {
	display: inline-block;
	text-align: center;
	float: left;
	width: 10%;
	padding-left: 1px;
	padding-right: 1px;
	margin: 0;
	
	
	
	
}

.menu-footer li+li { border-left: 1px solid #000000}








































