/*
 Floating Sections Code-Along

 Make the header red and 100% width
 Main should be yellow and 60% wide
 sideBar should be green and 40% wide
 pageFooter should be blue and 100% width

 */


.pageHeader {
		width:100%;
		float: left;
		background: red;
}

.main {
	width: 60%;
	float: left;
	background: yellow;

}

.sideBar{
	width:40%;
	float: left;
	background: green;

}

.placeholder {
	margin: 10px;
	height: 200px;
	border: 1px solid black;
	background: rgba(255,255,255,0.7);
}

.pageFooter {
		width:100%;
		float: left;
		background: blue;
		padding: 20px;
}

