body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1 {
  background: red;
  padding: 15px;
  border: 5px solid black;
}

p {
  color: white;
  background: blue;
  padding: 15px;
  border: 5px solid black;
}

code {
  color: black;
  background: white;
  padding: 2px 5px;
  border: 1px solid black;
}

ol {
	display: block;

}

li {
	display: inline-block;

}

li {
	color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    background: red;
    border-right: 1px solid white;
}